.row {
	width: 200px;
	float: left;
	margin: 0 10px 0 0;
}

.cell {
	display: block;
	cursor: pointer;
	width: 180px;
	height: 100px;
	background-color: yellow;
	margin-top: 10px;
	border: 10px solid black;
}

.cell.off {
background-color: #ccc;
}

.cell.onbeat {
border: 10px solid red;
}